include head
include navbar
h1(class="index-title container mx-auto")= `${title}`
div(class="movies-container grid gap-4 grip-flow-col sm:grid-cols-3 container mx-auto")
    each actor in actors.results
        div(class="actor-container shadow-lg")
            div(class="person-image")
                if actor.profile_path
                    img(src=`${imageBaseUrl}${actor.profile_path}`, alt="actor image")
                else
                    img(src="/img/avatar.png")
            div(class="actor-description")
                p
                    b Name: 
                    = `${actor.name}`
                p
                    b Role: 
                    = `${actor.known_for_department}`
                div(class="known-movies")
                    b Known for
                    div(class="list-known-movie")
                        each movie in actor.known_for
                            a(href=`/movie/${movie.id}`)
                                if movie.title
                                    p= movie.title
                                else if movie.name
                                    p= movie.name
include footer